{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/css/main.css">
{{/section}}

<section class="hero is-medium is-primary" style="margin-bottom:1rem">
  <div class="hero-body">
    <div class="container">
        <h1 class="title">
          Tools and Tips!
        </h1>
        <h2 class="subtitle">
          Need help saving money on business entertainment?<br>We've got you covered!
        </h2>
    </div>
  </div>
</section>

<section class="section">
    <div class="container">
        <div class="description has-text-centered">
            <img src="https://www.satellitesalesstars.com/uploads/1/3/2/5/13252434/published/americancomm_2.png?1512581723" alt="">
            <h2><strong>Serving the Triad since 1980, we know how to save you money and keep your customers happy!</strong></h2>
            <br>
            <br>
            {{#each list}}
            <a class="level" href="/posts/{{this.title}}">
                <div class="level-left level-item">
                    <figure class="image is-128x128">
                        <img src="/images/{{this.thumbnail}}" alt="">
                    </figure>
                    &nbsp;&nbsp;&nbsp;&nbsp;<h2>{{this.title}}</h2>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
</section>
<div class="level nav-buttons">
    {{#if prev}}
    <a class="level-left level-item" href="/posts/main?count={{prevval}}">
        <button id="prev" class="button is-info">PREV</button>
    </a>
    {{/if}}
    {{#if next}}
    <a class="level-right level-item" href="/posts/main?count={{nextval}}">
        <button id="next" class="button is-info">NEXT</button>
    </a>
    {{/if}}
</div>

<section class="section">
    <div class="container">
        <div class="description has-text-centered">
             <h4>Ready to save?</h4>
             <a href="/contact-us">
                 <button class="button is-info">
                     <strong>Contact Us</strong>
                 </button>
             </a>
             <p>or</p>
             <a href="/get-a-quote">
                 <button class="button is-info">
                     <strong>Get a quote!</strong>
                 </button>
             </a>
        </div>
    </div>
</section>
